<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>

 <nav>
     <a href="{%url 'teacher'%}">Home</a>
     <a href="{%url 'createquiz' %}">Createquiz</a>
     <a href="{%url 'view_quiz' %}">Quizzes</a>
     {% if user.is_authenticated %}
     <a href="{%url 'signout' %}">Signout</a>
     {%else%}
     <a href="{%url 'signin' %}">Signin</a>
     {% endif %}
 </nav>
 {% if messages %}
 {%for message in messages %}
 {{message}}
 {%endfor%}
 {%endif%}
 <h1>Welcome to Mcq Quiz Website</h1>
 <h1>{{user.usertype.user_type}}</h1>
 <h1>{{user.username}}</h1>
    {%block content%}
    {%endblock%}
</body>
</html>